/* Trocando a cor do body  */
:global(.accordion-body) {
  background-color: #212529 !important;
  color: white !important;
  border: none !important;
}

:global(.accordion-item) {
  background-color: #212529 !important;
  border: none !important;
}

:global(.accordion-header) {
  border: none !important;
  padding: 0 !important;
}

:global(.accordion-button) {
  background-color: #212529 !important;
  border: none !important;
  color: #fff !important;
  box-shadow: none !important;
}

:global(.accordion-button::after) {
  filter: invert(1);
}

:global(.accordion-button:not(.collapsed)::after) {
  filter: invert(1);
}

.nav_link_spacing :global(.nav-link),
.nav_link_spacing :global(.dropdown) {
  /* Maior espaçamento horizontal (desktop). Usando '1.5rem' para um "respiro" maior que o padrão. */
  margin-inline-end: 1.5rem !important;

  /* Espaçamento vertical (mobile/colapsado) */
  margin-block-end: 0.5rem !important;
}

/* Remove a margem extra do último item para não desalinhar */
.nav_link_spacing :global(.nav-link:last-child),
.nav_link_spacing :global(.dropdown:last-child) {
  margin-inline-end: 0 !important;
}
