/* Estilização das páginas */
.App {
    background-color: #FFFFFF;
    min-height: 100%;
}


/* Estilização das mensagens de erro */
.error{
    color: red;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}

